* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainContainer {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../src/components/images/imgbackground.jpeg");
  background-size: cover;
  background-attachment: fixed;
}
